.ava-creator{
    height: 24px;
}
.content-indicator{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #97b3dc;
    margin-top: 4px;
    margin-right: 6px;
}
.no-style-link{
    text-decoration: none;
    color: inherit;
}
.no-style-link:hover{
    /* text-decoration: none; */
    color: blue;
    text-decoration: underline;
}
.popup{
    position: absolute;
    bottom: 60px;
    right: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #719093;
    color: #9ca9aa;
    padding: 3px 5px;
    border-radius: 5px;
}