.card-page {
  display: none;
}

.card-page.active {
  display: block;
}

.scrollable{
    overflow-y: auto;
    height: calc(100vh - 66px);
}
.page-link{
    border: none !important;
    color: black !important;
}
.active>.page-link{
    background-color: #cacfd7 !important;
    border-radius: 0 !important;
}
select {
    background: transparent;
    /* background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); */
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius:5px;
    padding: 1px 2px;
    /* width: 150px; */
  }
