.card-page {
  display: none;
}

.card-page.active {
  display: block;
}

.scrollable{
    overflow-y: auto;
    height: calc(100vh - 60px);
}
.page-link{
    border: none !important;
    color: black !important;
}
.active>.page-link{
    background-color: #cacfd7 !important;
    border-radius: 0 !important;
}
