.search-bar{
    width: 35%;
}

@media  (max-width: 992px) {
      .navbar-collapse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
      }
      .search-bar{
        margin: auto !important;  
        width: 100%; 
      }
      .navbar-nav .nav-item {
        margin-bottom: 0.5rem;
      }
      ul.navbar-nav{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
      }
      .navbar-nav span{
        display: none;
      }
        
}