.bg-alpha{
  background-color: #551f83;
}
.bg-beta{
  background-color: #34353a;
}
.text-beta{
  color: #8a8ea1;
}

.text-underline{
  text-decoration: underline;
}

.w-icon{
  width: 1.5rem;
}

.w-35{
  width: 35% !important;
}

.notification-count{
  position: absolute;
  top: 5px;
  background-color: #df4949;
  border-radius: 50%;
  font-size: 10px;
}